@font-face {
  font-family: "Sinkin";
  src: url("Sinkin.ttf");
}

body {
  background-color: #7c7e73;
}

h1 {
  font-family: Sinkin;
  color: #474747;
}

h3 {
  font-family: Sinkin;
  color: #474747;
}

p {
  font-family: Sinkin;
  color: #474747;
}

.container_main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 50px 300px auto auto;
    grid-template-areas:
        "sidebar header header"
        "sidebar content content"
        "sidebar content content"
        "sidebar footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
}

nav iframe {
    margin-left: -20px;
    border: none;
    width: 100%;
    height: 100%;
}

section {
    grid-area: content;
}

footer {
    grid-area: footer;
}


/* Terry's Chart Css shit start */

table{
  width:450px;
  border-spacing:3px;
  background-color:#000000;
}
th, td{
  text-align:center;
}
th{
  background-color:#ffffff;
}
td{
  background-color:#ffffff;
  min-width:100px;
}
.point{
  text-align:center;
  min-width:35px;
  width:35px;
}
.empty{
  background-color:#ffffff;
  background-color:rgba(0,0,0,0);
}
.empty-point{
  text-align:center;
  min-width:35px;
  width:35px;
  background-color:#ffffff;
  background-color:rgba(0,0,0,0);
}

/* Terry's Chart Css shit end */
/* Terry's Collapse Css shit end */

.toggle-box{
  display:none;
}
.toggle-box+label{
  cursor: pointer;
  display:block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}
.toggle-box+label+div{
  display: none;
  margin-bottom: 10px;
}
.toggle-box:checked+label+div{
  display:block;
}
.toggle-box+label:before{
  background-color: Black;
  border-radius: 10px;
  color: Red;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}
.toggle-box:checked+label:before{
  content:"\2212";
  background-color: Black;
  color:White;
}

/* Terry's Collapse Css shit end */


