@font-face {
  font-family: "Sinkin";
  src: url("Sinkin.ttf");
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100%;
    background: #3e3436;
    width: 100%;
    margin: 0px auto;
}

ul {
    padding: 25px 0px 10px 0px;
}

nav li {
    margin: 0px;
    list-style: none;
    font-family: Sinkin;
}
 
nav a {
    transition:all linear 0.15s;
    color:#919191;
}
 
nav li:hover > a {
    color: #93ae6d;
}

a {
    width: 100%;
}

li a {
    transition: all linear .25s;
    color: #919191;
}

nav > ul > li > a {
    padding: 5px 20px;
    display: inline-block;
}

nav > ul > li:hover > a {
    background: #2e2728;
}







/* Terry's Collapse Css shit end */

.toggle-box{
  display:none;
}
.toggle-box+label{
  cursor: pointer;
  display:block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}
.toggle-box+label+div{
  display: none;
  margin-bottom: 10px;
}
.toggle-box:checked+label+div{
  display:block;
}
.toggle-box+label:before{
  background-color: Black;
  border-radius: 10px;
  color: Red;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}
.toggle-box:checked+label:before{
  content:"\2212";
  background-color: Black;
  color:White;
}

/* Terry's Collapse Css shit end */

